.example-spacer {
    flex: 1 1 auto;
  }

.active{
    color: blue!important;
}


.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.wrapper{
    height: 95%;
    overflow-y: auto;
}
.main-content{
    padding: 20px;
    width: 85%;
    padding-top: 40px;
    margin: auto;
}


