<title mat-dialog-title>Cart Items</title>
<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>

<mat-dialog-content>

        
        <app-card *ngFor="let cart of cartItems" [cardPayload]="cart.productId" [editCart]="true" [quantity]="cart.quantity" (editEvent)="editCart($event)" (deleteEvent)="deleteCart($event)"></app-card>

</mat-dialog-content>

<title mat-dialog-title>
    Total Ammount : {{ totalPrice }} Tk
</title>

<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>