.card {
    max-width: 250px;
  }

.counter {
    display: flex;
    padding: 10px;
    button{
        background-color: #f65280;
        cursor: pointer;
        border: none;
        color: white;
        border-radius: 2px;
    }


}

mat-card-subtitle
{
    color: blue;
}
mat-card-header{
    margin-left: -15px;
}

mat-card-actions{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}