<mat-card class="card" >
    <mat-card-header>
      <mat-card-title>{{cardPayload.productName}}</mat-card-title>
      <mat-card-subtitle>{{cardPayload.price}} Tk</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-xl-image [src]="cardPayload.imageUrl" alt="Photo of the product">
    <mat-card-content>
        <p>
            {{cardPayload.description}}
        </p>
      <p>
       Quantity: {{cardPayload.quantity}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="counter">
            <button style="margin-right: 5px;"  (click)="decrement()">-</button>
            {{count}}
            <button style="margin-left: 5px;" [disabled]="cardPayload.quantity==0" (click)="increment()">+</button>
        </div>
        <button *ngIf="!editCart;else delete" mat-raised-button color="primary" [disabled]="count===0" (click)="addToCart()">Add to Cart</button>
        <ng-template #delete>
          <button mat-raised-button color="warn" (click)="deleteCart()">Delete Cart Item</button>
        </ng-template>
        
 
    </mat-card-actions>
  </mat-card>